@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

@font-face {
  font-family: "Permanent Marker";
  src: url("font/PermanentMarker-Regular.ttf");
}

body {
  color: white;
  padding: 3rem;
  height: 100vh;
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

.secondary-font {
  font-family: "Pacifico", cursive;
}
.tertiary-font {
  font-family: "Permanent Marker", cursive;
}
